.login-page {
  background: var(--login-gradient);
  position: relative;

  @media screen and (max-width: 560px) {
    background: var(--white);
  }

  & > img {
    position: absolute;
    width: 4rem;
    cursor: pointer;
    top: 3rem;
    left: 3rem;
    z-index: 777;

    @media screen and (max-width: 560px) {
      filter: drop-shadow(0 0.2rem 1rem crimson);
      right: 3rem;
      top: 4.6rem;
      left: unset;
    }
  }
}

.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__menu {
    min-width: 111rem;
    min-height: 65rem;
    background: var(--white);
    border-radius: 4rem;
    position: relative;
    padding: 6rem;

    @media screen and (max-width: 964px) {
      max-width: 78rem;
      width: 100%;
      min-width: 64rem;
      min-height: 52rem;
      padding: 4.8rem;
    }

    @media screen and (max-width: 560px) {
      min-width: 100%;
      height: 100%;
      max-width: none;
      border-radius: 0;
    }

    & > img {
      z-index: 2;
      position: absolute;
      bottom: 0;
      right: 8rem;
      width: 60rem;

      @media screen and (max-width: 964px) {
        right: 3rem;
        width: 45rem;
      }

      @media screen and (max-width: 560px) {
        display: none;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 37%;
      background-color: var(--salat);
      border-radius: 4rem;
      @media screen and (max-width: 560px) {
        display: none;
      }
    }
  }
}
