.course-page {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #faf9f8;
    box-shadow: 0 0.4rem 0.8rem -0.3rem rgba(0, 0, 0, 0.25);
    padding: 1.5rem 3rem;
    border-radius: 0.8rem 0.8rem 0 0;

    &-language {
      font-size: 2.2rem;
      font-weight: 700;
      color: var(--primary);
    }
    &-completed {
      font-size: 2.5rem;
      font-weight: 700;
      color: var(--success);
    }
    &-delete {
      padding: 0.8rem;
      font-size: 1.7rem;
      font-family: "Inter", sans-serif;
      font-weight: 600;
      color: var(--error);
      border: 0.1rem dashed var(--error);
      background-color: inherit;
      border-radius: 0.4rem;
      transition: all 0.4s ease;

      &:hover {
        border: 0.1rem solid var(--error);
        box-shadow: 0.5rem 0.5rem 0.5rem -0.3rem rgba(213, 26, 26, 0.4);
      }
    }
    &-buttons {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
    &-add {
      padding: 0.8rem 1.2rem;
      font-size: 1.7rem;
      font-family: "Inter", sans-serif;
      font-weight: 600;
      color: var(--success);
      border: 0.1rem dashed var(--success);
      background-color: inherit;
      border-radius: 0.4rem;
      transition: all 0.4s ease;

      &:hover {
        border: 0.1rem solid var(--success);
        box-shadow: 0.5rem 0.5rem 0.5rem -0.3rem rgba(11, 214, 72, 0.4);
      }
    }
    &-complete {
      padding: 0.8rem 1.2rem;
      font-size: 1.7rem;
      font-family: "Inter", sans-serif;
      font-weight: 600;
      color: var(--purple);
      border: 0.1rem dashed var(--purple);
      background-color: inherit;
      border-radius: 0.4rem;
      transition: all 0.4s ease;

      &:hover {
        border: 0.1rem solid var(--purple);
        box-shadow: 0.5rem 0.5rem 0.5rem -0.3rem rgba(151, 76, 226, 0.4);
      }
    }
  }

  &__tasks {
    background-color: var(--white);
    box-shadow: 0 0.4rem 0.8rem -0.3rem rgba(0, 0, 0, 0.25);
    border-radius: 0 0 0.8rem 0.8rem;
    padding: 1.5rem 3rem;
    overflow-y: auto;
    height: 100%;

    &::-webkit-scrollbar{
      width: 0;
    }
  }
}

.add-new-task__button {
  padding: 0.75rem 4rem;
  background: #6083ff;
  border-radius: 0.4rem;
  color: var(--white);
  font-size: 1.3rem;
  font-weight: 600;
  transition: all 0.3s;

  &:hover {
    transform: scale(0.95);
  }
}

.add-task__form {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 888;
  min-width: 60rem;
  background: var(--white);
  padding: 3rem;
  border-radius: 1.3rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  // min-height: 40rem;
  max-height: 80%;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 0;
  }

  &-title {
    padding-bottom: 2rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
  }
  &-date {
    display: flex;
    justify-content: space-between;
    padding: 4.2rem 0;
  }
  &-submit {
    background: var(--purple);
    border-radius: 0.4rem;
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 600;
    transition: all 0.3s;
    padding: 1.5rem;

    &:hover {
      transform: scale(0.95);
    }
  }
}

.task-block {
  padding-top: 1.5rem;

  & > h1 {
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: #414141;
  }

  & > section {
    padding-top: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.times-form{
  position: absolute;
  right: 2rem;
  top: 2rem;
  cursor: pointer;
}
